 
         <div>
<div class="container"> 
    <a href="">Mentions légales</a>
    <a href="">Réseaux Sociaux</a>
</div>
<div class="container2">
    <a href="">Adresse</a>
    <a href="">Contactez nous</a>
</div>
         </div>
