<nav class="navbar navbar-light bg-light">     
  <div class="container-fluid">
    
    <a href="{{ path('program_index') }}">Accueil</a>
<a href="">Jeux</a>
<img src="{{ asset('build/images/logo(1).svg') }} ">
<a href="">Lot</a>
<a href="">Connexion</a>
<a href="">Inscription</a>
    
    
  </div>
</nav>